<div>
  <div>
    <h1> <%= @the_sport.name %> </h1>

    <div>
      <div>
        <a href="/sports">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_sport/<%= @the_sport.id %>">
          Delete sport
        </a>
      </div>
    </div>

  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit sport
    </h2>

    <form action="/modify_sport/<%= @the_sport.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_sport.name %>">
      </div>

      <button>
        Update sport
      </button>
    </form>
  </div>
</div>
<hr>
    <h2>Your Performance</h2>
<hr>
    <h2>Your Bets</h2>




<hr>
